---
interface Props {
	title: string
}

const { title } = Astro.props

import '@/styles/style.scss'
import Header from '../components/header/Header.astro'
import Footer from '../components/footer/Footer.astro'
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Noto+Sans+JP:wght@400;500;700&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
		<script src="../js/main.js"></script>
	</body>
</html>
